################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/CommandAggregatorExample/obj/Debug/App.g.cs
*.baml
/CommandAggregatorExample/obj/Debug/Views/MainWindow.g.cs
*.suo
/CommandAggregatorExample/bin/Debug
/CommandAggregatorExample/obj
/UnitTests/bin/Debug
/UnitTests/obj
/WPFCommandAggregator/bin/Debug
/WPFCommandAggregator/obj
/.axoCover
/.vs/CommandAggExample/DesignTimeBuild
/.vs/CommandAggExample/v15/Server/sqlite3
/.vs
/CommandAggregatorExample/bin/Release
/UnitTests/bin/Release
/WPFCommandAggregator/bin/Release
/_nugetPackage/V1.3.0.0
/_nugetPackage/V1.4.0.0
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.ExampleApp/obj
/Code/WpfCommandAggregator.Core/.vs/WpfCommandAggregator.Core/v16/Server/sqlite3
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/netcoreapp3.0
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/obj
/Code/WpfCommandAggregator.Core/.vs/WpfCommandAggregator.Core/DesignTimeBuild
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.ExampleApp/bin/Debug/netcoreapp3.0
/Code/WpfCommandAggregator.Core/.vs/WpfCommandAggregator.Core/v16/TestStore/0
/Code/WpfCommandAggregator.Core/UnitTests/bin/Debug/netcoreapp3.0
/Code/WpfCommandAggregator.Core/UnitTests/obj
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.ExampleApp/bin/Release/netcoreapp3.0
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Release
/Code/WpfCommandAggregator.Core/UnitTests/bin/Release/netcoreapp3.0
/Code/WpfCommandAggregator.Core/UnitTests/bin/Release/netcoreapp3.1
/Code/WpfCommandAggregator.Core/UnitTests/bin/Debug/netcoreapp3.1
/Code/WpfCommandAggregator.Core/UnitTests/bin
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.ExampleApp/bin
/Code/WpfCommandAggregator.Core/.vs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.TestPlatform.CommunicationUtilities.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.TestPlatform.CoreUtilities.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.TestPlatform.CrossPlatEngine.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.TestPlatform.PlatformAbstractions.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.VisualStudio.TestPlatform.Common.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/Newtonsoft.Json.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/testhost.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/testhost.exe
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/WpfCommandAggregator.Core.Tests.assets.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/WpfCommandAggregator.Core.Tests.csproj.FileListAbsolute.txt
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/WpfCommandAggregator.Core.Tests.GlobalUsings.g.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0/WpfCommandAggregator.Core.Tests.AssemblyInfo.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0/WpfCommandAggregator.Core.Tests.AssemblyInfoInputs.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0/WpfCommandAggregator.Core.Tests.assets.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0/WpfCommandAggregator.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0/WpfCommandAggregator.Core.Tests.GlobalUsings.g.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0-windows/WpfCommandAggregator.Core.Tests.AssemblyInfo.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0-windows/WpfCommandAggregator.Core.Tests.AssemblyInfoInputs.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0-windows/WpfCommandAggregator.Core.Tests.assets.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0-windows/WpfCommandAggregator.Core.Tests.csproj.AssemblyReference.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0-windows/WpfCommandAggregator.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Release/net6.0-windows/WpfCommandAggregator.Core.Tests.GlobalUsings.g.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/WpfCommandAggregator.Core.Tests.AssemblyInfo.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/WpfCommandAggregator.Core.Tests.AssemblyInfoInputs.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/WpfCommandAggregator.Core.Tests.assets.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/WpfCommandAggregator.Core.Tests.csproj.AssemblyReference.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/WpfCommandAggregator.Core.Tests.csproj.FileListAbsolute.txt
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/WpfCommandAggregator.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0/WpfCommandAggregator.Core.Tests.GlobalUsings.g.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/project.assets.json
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/WpfCommandAggregator.Core.Tests.csproj.nuget.dgspec.json
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/WpfCommandAggregator.Core.Tests.csproj.nuget.g.props
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/WpfCommandAggregator.Core.Tests.csproj.nuget.g.targets
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Release/net6.0-windows/CoverletSourceRootsMapping
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/net6.0-windows10.0.17763.0/WpfCommandAggregator.Core.deps.json
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/net6.0-windows10.0.17763.0/WpfCommandAggregator.Core.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/net6.0-windows10.0.17763.0/WpfCommandAggregator.Core.pdb
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/netcoreapp3.1/WpfCommandAggregator.Core.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/netcoreapp3.1/WpfCommandAggregator.Core.pdb
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/WpfCommandAggregator.Core.1.1.0.nupkg
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/Properties/PublishProfiles/FolderProfile.pubxml
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/Properties/PublishProfiles/FolderProfile.pubxml.user
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin/Debug/net6.0-windows/CoverletSourceRootsMapping
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/WpfCommandAggregator.Core.Tests.AssemblyInfo.cs
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/WpfCommandAggregator.Core.Tests.AssemblyInfoInputs.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/WpfCommandAggregator.Core.Tests.csproj.AssemblyReference.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/Debug/net6.0-windows/WpfCommandAggregator.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj/project.nuget.cache
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/netcoreapp3.1/WpfCommandAggregator.Core.dll
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/netcoreapp3.1/WpfCommandAggregator.Core.pdb
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/WpfCommandAggregator.Core.1.1.0.nupkg
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/net6.0-windows7.0
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/bin
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core.Tests/obj
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/net8.0-windows7.0
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/WpfCommandAggregator.Core.2.0.0.nupkg
/Code/WpfCommandAggregator.Core/WpfCommandAggregator.Core/bin/Debug/WpfCommandAggregator.Core.2.0.0.nupkg
